
body {
	font: sans-serif;
}

#app {
    height:600px;
    width:960px;
    position:relative;
}

form {
    position:absolute;
    top:1em;
    right:100px;
}

.axis {
	font: 10pt sans-serif;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000000;
	shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

.bar {
	fill: darkcyan;
}