

body {
    font: 16pt/24pt verdana, sans-serif;
}

#app {
    width: 640px;
    margin-left: auto;
    margin-right: auto;
}

#slide {
    height: 540px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.header {
    padding-top:10px;
}

.content {
    border: 1px solid #aaaaaa;
    width: 640px;
    height: 480px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    bottom: 0;
}

.inner-content {
    margin-top: auto;
    margin-bottom: auto;
}

.print-slide {
    width: 640px;
    border-top: 1px solid #000;
    page-break-inside:avoid;
}

.content-print {
    margin-left: auto;
    margin-right: auto;
}

.content-print:after {

}

.footer {
    font-size: 8pt;
    line-height:12pt;
}

.toc-item {
    cursor: pointer;
}

.back-to-slides {
    color: #dd0000;
    cursor: pointer;
    font-size:12pt;
}

.back-to-slides:before {
    content: "\21D0";
    display: inline-block;
    margin-right: 12px;
    font-size:12pt;
}

.toc-page-number {
    float: left;
    padding-right:12px;
    width:50px;
    text-align:right;
}

.page-number {
    float: right;
    font-size: 8pt;
    line-height:10pt;
    cursor: pointer;
}

.nav {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 8pt;
    line-height:12pt;
}

.footer ul,
.nav ul{
    padding:0px;
    margin:0px;
}

.footer li,
.nav li {
    display: inline;
    padding-right:10px;
    cursor: pointer;
}

.nav .selected {
    font-size: 9pt;
    font-weight: bold;
    color: #aa0000;
}

.word {
}


.word::after {
    content: " ";
}

p {
    padding-left:10px;
    padding-right:10px;
}

a {
    text-decoration: none;
}

a[href^="http"]:after {
    content: "\21D7";
    display: inline-block;
}


a:link {
    text-decoration:none
}

a:visited {
}